body {
  font-family: 'Vesper Libre' serif;
  color: #1a1a1a;
  line-height: 1.5;
  margin: 0;
}

header,
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

img {
  width: 100%;
}

#logo {
  width: 100px;
  padding-top: 8px;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin: 1rem 0;
}

.news {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-bottom: 2px solid #ff3530;
}

figcaption,
.news,
.sub-title,
.author,
.date,
h2 {
  font-family: 'Open sans' serif;
}

.author,
.date {
  font-size: .85rem;
  margin-bottom: 0;
}

figure {
  margin: 1.25em 0;
}

figcaption {
  font-size: .75rem;
  text-align: center;
  color: #757575;
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #1a1a1a;
  text-decoration: underline;
}

a:hover {
  color: #ff3530;
  text-decoration: none;
}